/*---------------------------------------GLOBAIS--*/
:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --border-cards: 20px;
  }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%;
}

body{
    background: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color:var(--text-color);
}
.container{
    display: flex;
    width: 100%;
    margin: 40px;
}
main{
    width: 362px;
}
/*-------------------------------------------TITULOS-----*/
h1{
    font-size: 23px;
    
}
h2{
    font-size: 20px;
    text-align: left;
}
h3{
    font-size: 18px;
}
/*--------------------------------------------PERFIL-------*/
.perfil{ 
    text-align: center;
}
.perfil img{
    width: 45%;
    height: 45%;
    border-radius: 50%;
}
/*-------------------------------------------LINKS-------*/
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links ul{
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
}
li img{
    margin-right: 20px;
}

/*---------------------------------------LISTA-TECNOLOGIAS*/
section{
    background: var(--bg-cards);
    text-align: center;
    border-radius: var(--border-cards);
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 30px;
    margin-bottom: 30px;
    width: 348px;
}
.technologies li{
    display:flex;
    width: 86px;
    height: 24px;
    background-color: var(--bg-techs);
    border-radius: var(--border-cards);
    list-style-type: none;
    align-items: center;
    justify-content: center;
    color:#000;
    font-weight: bold;
    font-size: 10px;
    margin-top: 15px;
}
.technologies ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
/*-------------------------------------------LISTAS------*/
.informations li{
    margin-left:40px;
    align-items: center;
}

/*-------------------------------------------CONTEUDO----*/
/*-------------------------------------------TITULOS-----*/
.content{
    margin-right: 40px;
    margin-left: 60px;
    align-items: center;
}
.my-projetcs{
    display: flex;
    background: var(--bg-cards);
    border-radius:var(--border-cards);
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 30px;
}
/*------------------------------------------PROJETOS-----*/
.projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.project{
    width: 49%;
}
.img-title{
    margin-top: 31.5px;
    display: flex;
    align-items: center;
    position: absolute;
}
.project h3{
    margin-left: 17px;

}

.title{
    display: flex;
    align-items: left;
    margin-bottom: 22px;
}
.coments{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.images-coments, .language{
    display: flex;
    align-items: center;
    margin: 0px;
}
.images-coments p{
    margin: 30px 16px 30px 8px;
}
.language p{
    margin: 30px 30px 30px 8px;
}
.jsimage{
    padding: 0;
    width: 20px;
    height: 20px;
}
.post{
    width: 100%;
    display:flex;

}

/*-------------------------------------------FOOTER------*/
footer{
    display: flex;
	bottom:0;
	width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
}