:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    --border-cards: 20px;
  }
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 93.75%;
}

body{
    background: var(--body-bg-color);
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color:var(--text-color);
}
.container{
    
    width: 90vw;
    margin: 40px
}
/*--------------------------------------------PERFIL-------*/

header{ 
    height: 292px;
    width: 348px;
    background: var(--bg-cards);
    text-align: center;
    border-radius: var(--border-cards);
}
header img{
    width: 45%;
    height: 45%;
    border-radius: 50%;
    margin-top: 32px;
}
.perfil{
    padding: 0;
    margin: 32px;
}
/*-------------------------------------------LINKS-------*/
main{
    margin-top: 30px;
    height: 292px;
    width: 348px;
}
.links{
    height: 292px;
    width: 348px;
    display:flex;
    background: var(--bg-cards);
    text-align: center;
    border-radius: var(--border-cards);
    align-items: center;
    justify-content: center;
    text-align: left;
}
.link {
    list-style-type: none;
}

li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
}
li img{
    margin-right: 20px;
}

/*---------------------------------------LISTA-TECNOLOGIAS*/
section{
    height: 292px;
    width: 348px;
    background: var(--bg-cards);
    text-align: center;
    border-radius: var(--border-cards);
    align-items: center;
    justify-content: center;
    text-align: left;
    
}
.technologies{
    margin-top: 30px;
}
/*-------------------------------------------LISTAS------*/

/*-------------------------------------------TITULOS-----*/
h1{
    font-size: 23px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
